body {
    
  background-color: whitesmoke;
}

h1,
h2 {
  text-align: left;
}

.container {
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 10px;
  
}

#input-todo {
  width: 250px;
  height: 25px;
  font-size: 1.25rem;
}

#add-todo {
  height: 40px;
  width: 40px;
  
  border: none;
  font-size: 1.5rem;
  
  cursor: pointer;
}

.todo-container {
  width: 40vw;
 
  flex-direction: column;
  gap: 10px;
}

.todo {
  background-color: lightsteelblue;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.actions > form {
  display: inline;
}

.actions > form > button {

  background-color: rgb(255, 149, 0);
  border: 2px solid black;
  color: white;
  padding: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  
}
